
.header {
    background: darkmagenta;
    width: 100%;
    position: fixed; 
    padding: 10px;
}

.header-container {
    text-align: right;
   
}
a {
    padding: 5px 5px 0px 10px;
    color: white;
    text-decoration: none;
}

img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    float: left;
}

p{
    float: left;
    color: white;
}