<div class="container">
    <div class="row">
        <div class="col">
            <img src="./../assets/images/hairoil.jpg">
            <p>Id: {{products[0].id}}</p>
            <p>Product_Name: {{products[0].p_name}}</p>
            <p>Price: {{products[0].price}}</p>
            <p>Quantity_avilable: {{products[0].qunt_avl}}</p>
            <p>Manufacture_Loction: {{products[0].manu_loc}}</p>
            <p>Present_Stock: {{products[0].presentstock}}</p>
            <button type="button" (click)="quntity(products[0])">add to cart</button>
        </div>
        <div class="col">
            <img src="./../assets/images/facewash.jpg">
            <p>Id: {{products[1].id}}</p>
            <p>Product_Name: {{products[1].p_name}}</p>
            <p>Price: {{products[1].price}}</p>
            <p>Quantity_avilable: {{products[1].qunt_avl}}</p>
            <p>Manufacture_Loction: {{products[1].manu_loc}}</p>
            <p>Present_Stock: {{products[1].presentstock}}</p>
            <button type="button" (click)="quntity(products[1])">add to cart</button>
        </div>
        <div class="col">
            <img src="./../assets/images/babysoap.png">
            <p>Id: {{products[2].id}}</p>
            <p>Product_Name: {{products[2].p_name}}</p>
            <p>Price: {{products[2].price}}</p>
            <p>Quantity_avilable: {{products[2].qunt_avl}}</p>
            <p>Manufacture_Loction: {{products[2].manu_loc}}</p>
            <p>Present_Stock: {{products[2].presentstock}}</p>
            <button type="button" (click)="quntity(products[2])">add to cart</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <img src="./../assets/images/hairoil.jpg">
            <p>Id: {{products[3].id}}</p>
            <p>Product_Name: {{products[3].p_name}}</p>
            <p>Price: {{products[3].price}}</p>
            <p>Quantity_avilable: {{products[3].qunt_avl}}</p>
            <p>Manufacture_Loction: {{products[3].manu_loc}}</p>
            <p>Present_Stock: {{products[3].presentstock}}</p>
            <button type="button" (click)="quntity(products[3])">add to cart</button>
        </div>
        <div class="col">
            <img src="./../assets/images/facewash.jpg">
            <p>Id: {{products[4].id}}</p>
            <p>Product_Name: {{products[4].p_name}}</p>
            <p>Price: {{products[4].price}}</p>
            <p>Quantity_avilable: {{products[4].qunt_avl}}</p>
            <p>Manufacture_Loction: {{products[4].manu_loc}}</p>
            <p>Present_Stock: {{products[4].presentstock}}</p>
            <button type="button" (click)="quntity(products[4])">add to cart</button>
        </div>
        <div class="col">
            <img src="./../assets/images/babysoap.png">
            <p>Id: {{products[5].id}}</p>
            <p>Product_Name: {{products[5].p_name}}</p>
            <p>Price: {{products[5].price}}</p>
            <p>Quantity_avilable: {{products[5].qunt_avl}}</p>
            <p>Manufacture_Loction: {{products[5].manu_loc}}</p>
            <p>Present_Stock: {{products[5].presentstock}}</p>
            <button type="button" (click)="quntity(products[5])">add to cart</button>
        </div>
    </div>
 </div>
