<!-- <app-header></app-header> -->

<!-- <app-content></app-content> -->

<!-- <app-header></app-header> -->

<!-- <button type="submit" (click)="countval()">submit</button>
<p>{{count}}</p> -->

<!-- <form>
    <label >First name:</label><br>
    <input type="text" id="fname" value="Naynesh"><br>
    <label >Last name:</label><br>
    <input type="text" id="lname" value="Chaudhary"><br>
    <label >Address:</label><br>
    <input type="text" id="address" value="Ahmedabad"><br>
    <label >Phone Number:</label><br>
    <input type="text" id="phone_num" value="1234567890"><br>
    <label >Email:</label><br>
    <input type="email" id="email" value="n@gamil.com"><br>
    <label >Password:</label><br>
    <input type="password"><br>

    <button type="submit" (click)="display_form_data()">submit</button>
  </form> -->


<app-coffee-header></app-coffee-header>
<app-body-content></app-body-content>
<app-coffee-footer></app-coffee-footer>