<!-- <p>header works!</p> -->
<!-- <app-content></app-content>
<app-footer></app-footer> -->

<!-- <app-content></app-content> -->

<!-- <ul>
    <li *ngFor="let counter of counters">
        {{counter}}
    </li>
</ul>

<app-product (newItemEvent)="incrementcounter($evenet)"></app-product> -->

<!-- <app-product></app-product> -->
<!-- <p>Child Counter : {{this.Info.counter}}</p> -->
 <!-- <div class="container">
    <label >First name:</label><br>
    <input type="text" [(ngModel)]="fname"><br>
    <label >Last name:</label><br>
    <input type="text" [(ngModel)]="lname"><br>
    <label >Address:</label><br>
    <input type="text" [(ngModel)]="address"><br>
    <label >Phone Number:</label><br>
    <input type="text" [(ngModel)]="phonenum"><br>
    <label >Email:</label><br>
    <input type="email" [(ngModel)]="email"><br>
    <label >Password:</label><br>
    <input type="password"><br>

    <button type="button" (click)="formdata()">submit</button><br><br>
</div>  -->


<div class="container">
        
       <table class="table table-striped" id="my_table">
         <thead>
             <tr>
               <th>Email</th>
               <th>Address1</th>
               <th>Address2</th>
               <th>City</th>
               <th>State</th>
               <th>Zip</th>
             </tr>
         </thead>
         <tbody>
           <tr *ngFor="let user of Info.userdata">
             <td>{{ user.email }}</td>
             <td>{{ user.address1 }}</td>
             <td>{{ user.address2 }}</td>
             <td>{{ user.city }}</td>
             <td>{{ user.state }}</td>
             <td>{{ user.zip }}</td>
           </tr>
         </tbody>
       </table>
     </div>
<p>email : {{this.Info.userdata[1].email}}</p>