<!-- <input type="text" #newItem>
<button (click)="newItemEvent(newItem.value)">add a parent</button> -->

<p style="font-size:20px">
    <b>Total Quntity Added :</b> {{p}}</p>
<br>
<br>


<!-- <div class="container">
    <div class="row">
        <div class="col">
                <img src="./../assets/images/phone1.jpg">
        </div>
        <div class="col">
                <img src="./../assets/images/phone2.jpg">
        </div>
        <div class="col">
                <img src="./../assets/images/phone3.jpg">
            </div>
    </div>
</div> -->

<div class="containt">
    <img src="./../assets/images/phone1.jpg">

    <button type="button" class="button" (click)="validate1()">Show Discription</button>
    <button type="button" class="button" (click)="remove_validate1()">Hide</button>
    <div *ngIf="flag1" class="cont">
        <h4>Vivo T1</h4>
        <p>Qualcomm Snapdragon 695 Processor</p>
        <p>50 + 2 + 2 MP Triple Rear Camera</p>
        <p>16 MP Front Camera</p>
        <p>6.58 inches IPS LCD Display</p>
        <p>4 GB RAM</p>
        <p>128 GB Storage</p>
        <p>5000 mAh Battery</p>
        <p>Android v12 OS</p>
        <p>
            <b>price : </b> 20000</p>
        <button type="button" (click)="quntity()">add to cart</button>
        <br>
        <br>
        <button type="button" (click)="quntity_remove()">remove to cart</button>
    </div>
</div>
<div class="containt">
    <img src="./../assets/images/phone2.jpg">
    <button type="button" class="button" (click)="validate2()">Show Discription</button>
    <button type="button" class="button" (click)="remove_validate2()">Hide</button>
    <div *ngIf="flag2" class="cont">
        <h4>Xiaomi Redmi Note 11T 5G</h4>
        <p>MediaTek Dimensity 810 MT6833 Processor</p>
        <p>50 + 8 MP Dual Rear Camera</p>
        <p>16 MP Front Camera</p>
        <p>6.6 inches IPS LCD Display</p>
        <p>6 GB RAM</p>
        <p>64 GB Storage</p>
        <p>5000 mAh Battery</p>
        <p>Android v11 OS</p>
        <p>
            <b>Price :</b>25000</p>
        <button type="button" (click)="quntity()">add to cart</button>
        <br>
        <br>
        <button type="button" (click)="quntity_remove()">remove to cart</button>
    </div>
</div>
<div class="containt">
    <img src="./../assets/images/phone3.jpg">
    <button type="button" class="button" (click)="validate3()">Show Discription</button>
    <button type="button" class="button" (click)="remove_validate3()">Hide</button>
    <div *ngIf="flag3" class="cont">
        <h4>Infinix Zero 5G</h4>
        <p>MediaTek Dimensity 900 MT6877 Processor</p>
        <p>48 + 13 + 2 MP Triple Rear Camera</p>
        <p>16 MP Front Camera</p>
        <p>6.78 inches IPS LCD Display</p>
        <p>8 GB RAM</p>
        <p>128 GB Storage</p>
        <p>5000 mAh Battery</p>
        <p>Android v11 OS</p>
        <p>
            <b>Price :</b>20000</p>
        <button type="button" (click)="quntity()">add to cart</button>
        <br>
        <br>
        <button type="button" (click)="quntity_remove()">remove to cart</button>
    </div>
</div>